Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  performance-*,
  modernize-*,
  readability-*,
  cppcoreguidelines-*,
  clang-analyzer-*,
  hicpp-*,
  misc-includes-cleaner

WarningsAsErrors: '*'

HeaderFilterRegex: '.*'

FormatStyle: file
