Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  performance-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  -modernize-avoid-c-arrays,
  readability-*,
  -readability-identifier-length,
  clang-analyzer-*,
  misc-includes-cleaner

HeaderFilterRegex: ''
ExcludeHeaderFilterRegex: 'doctest|rapidcheck'
FormatStyle: file
SystemHeaders:   false
