#*********** Copyright © 2023 Sean Caroll, Jonathon Bell. All rights reserved.
#**
#**
#**  Version : $Header:$
#**
#**
#**  Purpose : Specifies intentionally untracked files to ignore.
#**
#**
#**  See Also: https://git-scm.com/docs/gitignore
#**            for more on '.gitignore' files.
#**
#**
#*****************************************************************************

.*

#*****************************************************************************
